doctype html
html
  head
    block head
      meta(charset='UTF-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='stylesheet' href='/css/style.css')
      link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
      link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
      title Bucket List Tours
  //- This is the body of the site
  body
    //-This is where we include the header on the different pages
    include _header

    //- This is the content of the site
    block content

    //- Here is where we include the footer content 
    include _footer  

   
    script(src='/js/bundle.js')