extends layout

block content
  main.main
    .user-view
      nav.user-view__menu
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Update User

          form.form.form-user-data(action='/submit-user-info' method='POST')
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=`${user.params.name}`, required, name='name')
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=`${user.params.email}`, required, name='email')
            .form__group.ma-bt-md
            .form__group.form__photo-upload
              img.form__user-photo(src=`/images/users/${user.photo}`, alt='User photo')
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') 
            .form__group.right
              button.btn.btn--small.btn--green Save settings